/* dashboard page column widths starts */
.jb-fsnt-width1 {
    width: 19%;
}

.jb-fsnt-width2 {
    width: 23%;
}

.jb-fsnt-width3 {
    width: 16%;
}

.jb-fsnt-width4 {
    width: 25%;
}

.jb-fsnt-width5 {
    width: 28%;
}

.jb-fsnt-width6 {
    width: 31%;
}

.jb-fsnt-width7 {
    width: 31.8%;
    margin-left: 2%;
}

.jb-fsnt-width8 {
    width: 39%;
}

.jb-fsnt-width9 {
    width: 26.25%;
}

.jb-fsnt-width10 {
    width: 65%;
}

.jb-fsnt-width11 {
    width: 4.905%;
}

.jb-fsnt-width12 {
    width: 7.622%;
}

.jb-fsnt-width13 {
    width: 8.528%;
}

.jb-fsnt-width14 {
    width: 9.8%;
}

.jb-fsnt-width15 {
    width: 7.849%;
}

.jb-fsnt-width16 {
    width: 7.7%;
}

.jb-fsnt-width17 {
    width: 9%;
}

.jb-fsnt-width18 {
    width: 6%;
    margin-left: 15px;
}

.jb-fsnt-width19 {
    width: 5.1%;
}

.jb-fsnt-width20 {
    width: 6.2%;
}
.jb-fsnt-width-margin{
width: 22%;
}
.jb-fsnt-width21{
    width: 8.6%;
}
/* dashboard page column widths startsends */